<main>
  <div class="details-container">
    <div class="details-container-image">
      <img src="{{course.image}}" />
    </div>
    <div class="details-container-info">
      <h2>Title: {{course.title}}</h2>
      <h3>Type: {{course.type}}</h3>
      <h3>Certificate: {{course.certificate}}</h3>
      <h3>Price: €{{course.price}}</h3>
      <h3>By: {{owner.email}}</h3>
      {{#if signedByEmails}}
        <h4>Signed By: {{signedByEmails}}</h4>
      {{else}}
        <h4>Nobody has signed in for this course yet</h4>
      {{/if}}
    </div>
    <div class="details-container-content">
      <p>{{course.description}}</p>
    </div>
    <div class="btn-container">
      {{#if isAuthenticated}}
        <!-- Only for registered user and creator of the course-->
        {{#if isOwner}}
          <a href="/courses/{{course._id}}/edit">Edit</a>
          <a href="/courses/{{course._id}}/delete">Delete</a>
        {{else}}
          <!-- logged in user who has not yet sign up for the course-->
          {{#unless hasSignedUp}}
            <a href="/courses/{{course._id}}/sign-up">Sign up</a>
          {{else}}
            <!-- logged in user who has already sign up for the course-->
            <p class="sign-up">You've already signed up for this course!</p>
          {{/unless}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</main>